<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">New for 2018</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 5th Resipole</h4>
                                    <h4 class="subheading">Resipole Galleries, Ardnamurchan</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">A range of new works, including the Kokeshi and Crashland series are unveiled in a 3 week exhibition at Resipole Galleries, near Stephen's studio in Ardnamurchan</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>August 22nd</h4>
                                    <h4 class="subheading">J.E. Innis Bookshop Gallery, St Andrews</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Stephen's first major exhibition featuring over 40 works is displayed for the first time at Innis Bookshop Gallery</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September 20th</h4>
                                    <h4 class="subheading">Roseangle Arts Gallery, Dundee</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">More artwork is put on display at Dundee's Roseangle Arts Gallery. A range of new works, including the full range of Crashland series will be displayed for the first time</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September 2018</h4>
                                    <h4 class="subheading">Launch of stephenfrenchart.co.uk online store. Buy wall art, limited edition art prints, originals and more</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"></p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>