<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Three new exhibitions for 2018</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Resipole, May 5th - 3 months</h4>
                                    <h4 class="subheading">Resipole Galleries, Ardnamurchan</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">A range of new works, including works from all collections featured here, are unveiled in a 3 week exhibition at Resipole Galleries, near Stephen's studio in Ardnamurchan <a href="http://www.resipolestudios.co.uk/a-shared-aesthetic">View exhibition here</a></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>St Andrews, August 17th - 26th</h4>
                                    <h4 class="subheading">J.E. Innis Bookshop Gallery</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">An extended range of paintings, featuring over 40 works, is displayed at Innis Bookshop Gallery</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Dundee, September 20th</h4>
                                    <h4 class="subheading">Roseangle Arts Gallery</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">More artwork is put on display at Dundee's Roseangle Arts Gallery. A range of new works, including the full range of Crashland works will be displayed for the first time</p>
                                </div>
                            </div>
                        </li>
                        <!--
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September 2018</h4>
                                    <h4 class="subheading">Launch of stephenfrenchart.co.uk online store. Buy wall art, limited edition art prints, originals and more</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"></p>
                                </div>
                            </div>
                        </li>
                    -->
                    </ul>
                </div>
            </div>
        </div>
    </section>