
<section id="biography" class="bg-light-gray">
        <div class="bioimage"></div>
    <div class="container">
        <div class="row">
                <h2 class="biotitle">Stephen French is a Scottish artist and designer, working from Dundee and Kilchoan, Ardnamurchan</h2>
            <div class="col-lg-9-center"> 
            <p class="bio">
                Born in Clydebank in 1953, Stephen French studied drawing and painting at Dundee Art College. Whilst a student, Stephen exhibited at the society of Scottish Artists, Scottish and Contemporaries, The Royal Scottish Academy, and the Royal Glasgow Institute of the Fine Arts, winning the prestigious Torrence and David Cargill Awards in successive years.</br></br>
                
                In 1976, he received the Greenshield Award to study painting in Paris and had an exhibition at the Gallery Diagonale. In 1978, serious injuries sustained in an RTC prevented Stephen from painting. Instead,he turned his imagination to design.</br></br>
                
                Stephen developed the now universal floor-level illuminated exiting displays for aircraft. He patented fibre optic carpeting, now a global industry. He consulted with Luxiflex Venetian Blinds, Jean Paul Gautier, Forbo Nairn, Pilkington Glass, and many other concerns. His designs were exhibited in the V&A, Glasgow and London Design Centres, Kyoto Museum of Modern Art, Tokyo Foret Museum, The Third Eye Centre, and the Fine Arts Society. Installations include Pomipdou Centre and the Barbican. Large one-man exhibitions were held at Dundee Art College, Dundee Museum, and Glasgow Kelvingrove Museum, the latter winner the Stella Artois and Scotsman Awards for Glasgow’s Mayfest. After winning two Design Centre Awards he was a consultant with the design council and became a member of Memphis Milano.</br></br>
                
                More recently, Stephen has returned to painting. He studied Public Arts at Dundee Art College and graduated MPhil in 1992. His works are in public collections including the V&A Museum, Glasgow museums and galleries, Duncan of Jordanstone college of Art and the University of Dundee. Stephen works mainly from his studio in Kilchoan in Ardnamurchan, the westernmost artist's studio on the British mainland.</p>
                </p>
            </div>
        </div>
    </div>
</section>                    

