<!-- Portfolio Grid Section thumbs 400 x 289 -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Three exhibitions. Eight new collections. Over 50 new paintings</h2>
                    <hr class="divider">
                    <div id="mailchimp">
                        <form action="https://stephenfrenchart.us16.list-manage.com/subscribe/post?u=ff63bc920520ae4a69ea0a094&amp;id=eeaa74df3f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll">
                                <h3 class="promo"> Subscribe for 10% off all prints</h3>
                                <div class="emailblock">
                            <input type="email" value="Enter your email" name="EMAIL" class="emailbox" id="mce-EMAIL" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                            </div>

                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ff63bc920520ae4a69ea0a094_eeaa74df3f" tabindex="-1" value=""></div>

                            <p class="mailchimp">Redeem at stephenfrenchart.co.uk or any exhibition</p>
                            </div>
                        </form>
                        </div>    
                        <hr class="divider">                    
                        <h2 class="collectiontitle">Featured collections</h3>
                </div>
            </div>
            <div class="row">
            {% for post in site.posts %}
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <h3>PREVIEW</h3>
                            </div>
                        </div>
                        <img src="img/portfolio/{{ post.thumbnail }}" class="img-responsive img-centered" alt="Original paintings and artworks from Stephen French">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ post.title }}</h4>
                        <p class="text-muted">{{ post.subtitle }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>

