<!-- Services Section -->
    <section id="services">
        
        <div class="container">
            <hr class="divider">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Exhibitions</h2>
                    <h3 class="section-subheading text-muted">Three exhibitions of new fine art works in Scotland</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Resipole</h4>
                    <p class="text-muted">A range of new works, including the Kokeshi and Crashland series are unveiled in a 3 week exhibition at Resipole Galleries, near Stephen's studio in Ardnamurchan</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">St Andrews</h4>
                    <p class="text-muted">Stephen's first major exhibition featuring over 40 works is displayed for the first time at Innis Bookshop Gallery</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Dundee</h4>
                    <p class="text-muted">More artwork is put on display at Dundee's Roseangle Arts Gallery. A range of new works, including the full range of Crashland series will be displayed for the first time.</p>
                </div>
            </div>
        </div>


    </section>