<!-- Services Section -->
    <section id="services">
        
        <div class="container">
            <hr class="divider">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Coming soon: new online store</h2>
                    <h2 class="site-title">stephenfrenchart.co.uk</h3>
                  </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Prints</h4>
                    <p class="text-muted">Stylish, affordable wall art for the home, available framed or unframed</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Limited Editions</h4>
                    <p class="text-muted">Exclusive limited edition 'Giclee' print runs of selected paintings, made using the highest quality pigment inks and archival papers</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Originals</h4>
                    <p class="text-muted">The largest single collection of Stephen's original paintings, available as soon as they are painted</p>
                </div>
            </div>
            <div class="col-lg-12 text-center">
                </div class="sign-up">
                    <a href="#newsletter" class="page-scroll">Sign up to our mailing list for 10% off all pre-order prints</a> 
                </div>
            </div>

        </div>

    </section>